<div class="finishedGoodPackagingItems index">
	<h2><?php echo __('Finished Good Packaging Items'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('finished_good_packaging_id'); ?></th>
			<th><?php echo $this->Paginator->sort('finished_good_id'); ?></th>
			<th><?php echo $this->Paginator->sort('production_order_id'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th><?php echo $this->Paginator->sort('remark'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($finishedGoodPackagingItems as $finishedGoodPackagingItem): ?>
	<tr>
		<td><?php echo h($finishedGoodPackagingItem['FinishedGoodPackagingItem']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($finishedGoodPackagingItem['FinishedGoodPackaging']['name'], array('controller' => 'finished_good_packagings', 'action' => 'view', $finishedGoodPackagingItem['FinishedGoodPackaging']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($finishedGoodPackagingItem['FinishedGood']['id'], array('controller' => 'finished_goods', 'action' => 'view', $finishedGoodPackagingItem['FinishedGood']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($finishedGoodPackagingItem['ProductionOrder']['name'], array('controller' => 'production_orders', 'action' => 'view', $finishedGoodPackagingItem['ProductionOrder']['id'])); ?>
		</td>
		<td><?php echo h($finishedGoodPackagingItem['FinishedGoodPackagingItem']['created']); ?>&nbsp;</td>
		<td><?php echo h($finishedGoodPackagingItem['FinishedGoodPackagingItem']['modified']); ?>&nbsp;</td>
		<td><?php echo h($finishedGoodPackagingItem['FinishedGoodPackagingItem']['remark']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $finishedGoodPackagingItem['FinishedGoodPackagingItem']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $finishedGoodPackagingItem['FinishedGoodPackagingItem']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $finishedGoodPackagingItem['FinishedGoodPackagingItem']['id']), array(), __('Are you sure you want to delete # %s?', $finishedGoodPackagingItem['FinishedGoodPackagingItem']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Finished Good Packaging Item'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Finished Good Packagings'), array('controller' => 'finished_good_packagings', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Finished Good Packaging'), array('controller' => 'finished_good_packagings', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Finished Goods'), array('controller' => 'finished_goods', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Finished Good'), array('controller' => 'finished_goods', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Production Orders'), array('controller' => 'production_orders', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Production Order'), array('controller' => 'production_orders', 'action' => 'add')); ?> </li>
	</ul>
</div>
