<div class="projectBoms form">
<?php echo $this->Form->create('ProjectBom'); ?>
	<fieldset>
		<legend><?php echo __('Edit Project Bom'); ?></legend>
	<?php
		echo $this->Form->input('id');
<<<<<<< HEAD
		echo $this->Form->input('quantity');
		echo $this->Form->input('bom_id');
		echo $this->Form->input('name');
		echo $this->Form->input('code');
		echo $this->Form->input('remark');
		echo $this->Form->input('sale_tender_id');
		echo $this->Form->input('sale_order_id');
		echo $this->Form->input('sale_order_child_id');
=======
		echo $this->Form->input('sale_tender_id');
>>>>>>> d239dc7a08b060d3c15e1171f0b3bdc2f6eb936c
		echo $this->Form->input('user_id');
		echo $this->Form->input('status');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $this->Form->value('ProjectBom.id')), array(), __('Are you sure you want to delete # %s?', $this->Form->value('ProjectBom.id'))); ?></li>
		<li><?php echo $this->Html->link(__('List Project Boms'), array('action' => 'index')); ?></li>
<<<<<<< HEAD
		<li><?php echo $this->Html->link(__('List Boms'), array('controller' => 'boms', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Bom'), array('controller' => 'boms', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Sale Tenders'), array('controller' => 'sale_tenders', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Sale Tender'), array('controller' => 'sale_tenders', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Sale Orders'), array('controller' => 'sale_orders', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Sale Order'), array('controller' => 'sale_orders', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Sale Order Children'), array('controller' => 'sale_order_children', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Sale Order Child'), array('controller' => 'sale_order_children', 'action' => 'add')); ?> </li>
=======
		<li><?php echo $this->Html->link(__('List Sale Tenders'), array('controller' => 'sale_tenders', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Sale Tender'), array('controller' => 'sale_tenders', 'action' => 'add')); ?> </li>
>>>>>>> d239dc7a08b060d3c15e1171f0b3bdc2f6eb936c
		<li><?php echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Inventory Purchase Requisition Boms'), array('controller' => 'inventory_purchase_requisition_boms', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Inventory Purchase Requisition Bom'), array('controller' => 'inventory_purchase_requisition_boms', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Project Bom Children'), array('controller' => 'project_bom_children', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Project Bom Child'), array('controller' => 'project_bom_children', 'action' => 'add')); ?> </li>
<<<<<<< HEAD
		<li><?php echo $this->Html->link(__('List Project Bom Items'), array('controller' => 'project_bom_items', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Project Bom Item'), array('controller' => 'project_bom_items', 'action' => 'add')); ?> </li>
=======
>>>>>>> d239dc7a08b060d3c15e1171f0b3bdc2f6eb936c
		<li><?php echo $this->Html->link(__('List Project Schedules'), array('controller' => 'project_schedules', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Project Schedule'), array('controller' => 'project_schedules', 'action' => 'add')); ?> </li>
	</ul>
</div>
