<<<<<<< HEAD
<div class="row"> 
  <div class="col-xs-12">
    <div class="x_panel tile">
      <div class="x_title">
        <h2>Edit</h2> 
        <div class="clearfix"></div>
      </div>
      <div class="x_content"> 
        <?php echo $this->Session->flash(); ?>
 
      	<div class="projectBoms view-data">
=======
<div class="projectBoms view">
>>>>>>> d239dc7a08b060d3c15e1171f0b3bdc2f6eb936c
<h2><?php echo __('Project Bom'); ?></h2>
	<dl>
		<dt><?php echo __('Id'); ?></dt>
		<dd>
			<?php echo h($projectBom['ProjectBom']['id']); ?>
			&nbsp;
		</dd>
<<<<<<< HEAD
		<dt><?php echo __('Quantity'); ?></dt>
		<dd>
			<?php echo h($projectBom['ProjectBom']['quantity']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Bom'); ?></dt>
		<dd>
			<?php echo $this->Html->link($projectBom['Bom']['name'], array('controller' => 'boms', 'action' => 'view', $projectBom['Bom']['id'])); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Name'); ?></dt>
		<dd>
			<?php echo h($projectBom['ProjectBom']['name']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Code'); ?></dt>
		<dd>
			<?php echo h($projectBom['ProjectBom']['code']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Remark'); ?></dt>
		<dd>
			<?php echo h($projectBom['ProjectBom']['remark']); ?>
			&nbsp;
		</dd>
=======
>>>>>>> d239dc7a08b060d3c15e1171f0b3bdc2f6eb936c
		<dt><?php echo __('Sale Tender'); ?></dt>
		<dd>
			<?php echo $this->Html->link($projectBom['SaleTender']['title'], array('controller' => 'sale_tenders', 'action' => 'view', $projectBom['SaleTender']['id'])); ?>
			&nbsp;
		</dd>
<<<<<<< HEAD
		<dt><?php echo __('Sale Order'); ?></dt>
		<dd>
			<?php echo $this->Html->link($projectBom['SaleOrder']['id'], array('controller' => 'sale_orders', 'action' => 'view', $projectBom['SaleOrder']['id'])); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Sale Order Child'); ?></dt>
		<dd>
			<?php echo $this->Html->link($projectBom['SaleOrderChild']['name'], array('controller' => 'sale_order_children', 'action' => 'view', $projectBom['SaleOrderChild']['id'])); ?>
			&nbsp;
		</dd>
=======
>>>>>>> d239dc7a08b060d3c15e1171f0b3bdc2f6eb936c
		<dt><?php echo __('Created'); ?></dt>
		<dd>
			<?php echo h($projectBom['ProjectBom']['created']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Modified'); ?></dt>
		<dd>
			<?php echo h($projectBom['ProjectBom']['modified']); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('User'); ?></dt>
		<dd>
			<?php echo $this->Html->link($projectBom['User']['id'], array('controller' => 'users', 'action' => 'view', $projectBom['User']['id'])); ?>
			&nbsp;
		</dd>
		<dt><?php echo __('Status'); ?></dt>
		<dd>
			<?php echo h($projectBom['ProjectBom']['status']); ?>
			&nbsp;
		</dd>
	</dl>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('Edit Project Bom'), array('action' => 'edit', $projectBom['ProjectBom']['id'])); ?> </li>
		<li><?php echo $this->Form->postLink(__('Delete Project Bom'), array('action' => 'delete', $projectBom['ProjectBom']['id']), array(), __('Are you sure you want to delete # %s?', $projectBom['ProjectBom']['id'])); ?> </li>
		<li><?php echo $this->Html->link(__('List Project Boms'), array('action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Project Bom'), array('action' => 'add')); ?> </li>
<<<<<<< HEAD
		<li><?php echo $this->Html->link(__('List Boms'), array('controller' => 'boms', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Bom'), array('controller' => 'boms', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Sale Tenders'), array('controller' => 'sale_tenders', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Sale Tender'), array('controller' => 'sale_tenders', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Sale Orders'), array('controller' => 'sale_orders', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Sale Order'), array('controller' => 'sale_orders', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Sale Order Children'), array('controller' => 'sale_order_children', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Sale Order Child'), array('controller' => 'sale_order_children', 'action' => 'add')); ?> </li>
=======
		<li><?php echo $this->Html->link(__('List Sale Tenders'), array('controller' => 'sale_tenders', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Sale Tender'), array('controller' => 'sale_tenders', 'action' => 'add')); ?> </li>
>>>>>>> d239dc7a08b060d3c15e1171f0b3bdc2f6eb936c
		<li><?php echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Inventory Purchase Requisition Boms'), array('controller' => 'inventory_purchase_requisition_boms', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Inventory Purchase Requisition Bom'), array('controller' => 'inventory_purchase_requisition_boms', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Project Bom Children'), array('controller' => 'project_bom_children', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Project Bom Child'), array('controller' => 'project_bom_children', 'action' => 'add')); ?> </li>
<<<<<<< HEAD
		<li><?php echo $this->Html->link(__('List Project Bom Items'), array('controller' => 'project_bom_items', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Project Bom Item'), array('controller' => 'project_bom_items', 'action' => 'add')); ?> </li>
=======
>>>>>>> d239dc7a08b060d3c15e1171f0b3bdc2f6eb936c
		<li><?php echo $this->Html->link(__('List Project Schedules'), array('controller' => 'project_schedules', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Project Schedule'), array('controller' => 'project_schedules', 'action' => 'add')); ?> </li>
	</ul>
</div>
<div class="related">
	<h3><?php echo __('Related Inventory Purchase Requisition Boms'); ?></h3>
	<?php if (!empty($projectBom['InventoryPurchaseRequisitionBom'])): ?>
	<table cellpadding = "0" cellspacing = "0">
	<tr>
		<th><?php echo __('Id'); ?></th>
		<th><?php echo __('Inventory Purchase Requisition Id'); ?></th>
		<th><?php echo __('Project Bom Id'); ?></th>
		<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($projectBom['InventoryPurchaseRequisitionBom'] as $inventoryPurchaseRequisitionBom): ?>
		<tr>
			<td><?php echo $inventoryPurchaseRequisitionBom['id']; ?></td>
			<td><?php echo $inventoryPurchaseRequisitionBom['inventory_purchase_requisition_id']; ?></td>
			<td><?php echo $inventoryPurchaseRequisitionBom['project_bom_id']; ?></td>
			<td class="actions">
				<?php echo $this->Html->link(__('View'), array('controller' => 'inventory_purchase_requisition_boms', 'action' => 'view', $inventoryPurchaseRequisitionBom['id'])); ?>
				<?php echo $this->Html->link(__('Edit'), array('controller' => 'inventory_purchase_requisition_boms', 'action' => 'edit', $inventoryPurchaseRequisitionBom['id'])); ?>
				<?php echo $this->Form->postLink(__('Delete'), array('controller' => 'inventory_purchase_requisition_boms', 'action' => 'delete', $inventoryPurchaseRequisitionBom['id']), array(), __('Are you sure you want to delete # %s?', $inventoryPurchaseRequisitionBom['id'])); ?>
			</td>
		</tr>
	<?php endforeach; ?>
	</table>
<?php endif; ?>

	<div class="actions">
		<ul>
			<li><?php echo $this->Html->link(__('New Inventory Purchase Requisition Bom'), array('controller' => 'inventory_purchase_requisition_boms', 'action' => 'add')); ?> </li>
		</ul>
	</div>
</div>
<div class="related">
	<h3><?php echo __('Related Project Bom Children'); ?></h3>
	<?php if (!empty($projectBom['ProjectBomChild'])): ?>
	<table cellpadding = "0" cellspacing = "0">
	<tr>
		<th><?php echo __('Id'); ?></th>
<<<<<<< HEAD
		<th><?php echo __('Sale Order Id'); ?></th>
		<th><?php echo __('Project Bom Id'); ?></th>
		<th><?php echo __('Parent Id X'); ?></th>
		<th><?php echo __('Name'); ?></th>
		<th><?php echo __('Bom Parent'); ?></th>
		<th><?php echo __('Quantity'); ?></th>
=======
		<th><?php echo __('Project Bom Id'); ?></th>
		<th><?php echo __('Parent Id Delete'); ?></th>
		<th><?php echo __('Name'); ?></th>
>>>>>>> d239dc7a08b060d3c15e1171f0b3bdc2f6eb936c
		<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($projectBom['ProjectBomChild'] as $projectBomChild): ?>
		<tr>
			<td><?php echo $projectBomChild['id']; ?></td>
<<<<<<< HEAD
			<td><?php echo $projectBomChild['sale_order_id']; ?></td>
			<td><?php echo $projectBomChild['project_bom_id']; ?></td>
			<td><?php echo $projectBomChild['parent_id_x']; ?></td>
			<td><?php echo $projectBomChild['name']; ?></td>
			<td><?php echo $projectBomChild['bom_parent']; ?></td>
			<td><?php echo $projectBomChild['quantity']; ?></td>
=======
			<td><?php echo $projectBomChild['project_bom_id']; ?></td>
			<td><?php echo $projectBomChild['parent_id_delete']; ?></td>
			<td><?php echo $projectBomChild['name']; ?></td>
>>>>>>> d239dc7a08b060d3c15e1171f0b3bdc2f6eb936c
			<td class="actions">
				<?php echo $this->Html->link(__('View'), array('controller' => 'project_bom_children', 'action' => 'view', $projectBomChild['id'])); ?>
				<?php echo $this->Html->link(__('Edit'), array('controller' => 'project_bom_children', 'action' => 'edit', $projectBomChild['id'])); ?>
				<?php echo $this->Form->postLink(__('Delete'), array('controller' => 'project_bom_children', 'action' => 'delete', $projectBomChild['id']), array(), __('Are you sure you want to delete # %s?', $projectBomChild['id'])); ?>
			</td>
		</tr>
	<?php endforeach; ?>
	</table>
<?php endif; ?>

	<div class="actions">
		<ul>
			<li><?php echo $this->Html->link(__('New Project Bom Child'), array('controller' => 'project_bom_children', 'action' => 'add')); ?> </li>
		</ul>
	</div>
</div>
<div class="related">
<<<<<<< HEAD
	<h3><?php echo __('Related Project Bom Items'); ?></h3>
	<?php if (!empty($projectBom['ProjectBomItem'])): ?>
	<table cellpadding = "0" cellspacing = "0">
	<tr>
		<th><?php echo __('Id'); ?></th>
		<th><?php echo __('Sale Order Id'); ?></th>
		<th><?php echo __('Inventory Item Id'); ?></th>
		<th><?php echo __('General Unit Id'); ?></th>
		<th><?php echo __('Project Bom Child Id'); ?></th>
		<th><?php echo __('Project Bom Id'); ?></th>
		<th><?php echo __('Quantity'); ?></th>
		<th><?php echo __('Quantity Total'); ?></th>
		<th><?php echo __('Quantity Shortage'); ?></th>
		<th><?php echo __('Price'); ?></th>
		<th><?php echo __('Price Total'); ?></th>
		<th><?php echo __('No Of Order'); ?></th>
		<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($projectBom['ProjectBomItem'] as $projectBomItem): ?>
		<tr>
			<td><?php echo $projectBomItem['id']; ?></td>
			<td><?php echo $projectBomItem['sale_order_id']; ?></td>
			<td><?php echo $projectBomItem['inventory_item_id']; ?></td>
			<td><?php echo $projectBomItem['general_unit_id']; ?></td>
			<td><?php echo $projectBomItem['project_bom_child_id']; ?></td>
			<td><?php echo $projectBomItem['project_bom_id']; ?></td>
			<td><?php echo $projectBomItem['quantity']; ?></td>
			<td><?php echo $projectBomItem['quantity_total']; ?></td>
			<td><?php echo $projectBomItem['quantity_shortage']; ?></td>
			<td><?php echo $projectBomItem['price']; ?></td>
			<td><?php echo $projectBomItem['price_total']; ?></td>
			<td><?php echo $projectBomItem['no_of_order']; ?></td>
			<td class="actions">
				<?php echo $this->Html->link(__('View'), array('controller' => 'project_bom_items', 'action' => 'view', $projectBomItem['id'])); ?>
				<?php echo $this->Html->link(__('Edit'), array('controller' => 'project_bom_items', 'action' => 'edit', $projectBomItem['id'])); ?>
				<?php echo $this->Form->postLink(__('Delete'), array('controller' => 'project_bom_items', 'action' => 'delete', $projectBomItem['id']), array(), __('Are you sure you want to delete # %s?', $projectBomItem['id'])); ?>
			</td>
		</tr>
	<?php endforeach; ?>
	</table>
<?php endif; ?>

	<div class="actions">
		<ul>
			<li><?php echo $this->Html->link(__('New Project Bom Item'), array('controller' => 'project_bom_items', 'action' => 'add')); ?> </li>
		</ul>
	</div>
</div>
<div class="related">
=======
>>>>>>> d239dc7a08b060d3c15e1171f0b3bdc2f6eb936c
	<h3><?php echo __('Related Project Schedules'); ?></h3>
	<?php if (!empty($projectBom['ProjectSchedule'])): ?>
	<table cellpadding = "0" cellspacing = "0">
	<tr>
		<th><?php echo __('Id'); ?></th>
		<th><?php echo __('Project Bom Id'); ?></th>
		<th><?php echo __('Created'); ?></th>
		<th><?php echo __('Modified'); ?></th>
		<th><?php echo __('Status'); ?></th>
		<th><?php echo __('Progress'); ?></th>
		<th><?php echo __('User Id'); ?></th>
		<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($projectBom['ProjectSchedule'] as $projectSchedule): ?>
		<tr>
			<td><?php echo $projectSchedule['id']; ?></td>
			<td><?php echo $projectSchedule['project_bom_id']; ?></td>
			<td><?php echo $projectSchedule['created']; ?></td>
			<td><?php echo $projectSchedule['modified']; ?></td>
			<td><?php echo $projectSchedule['status']; ?></td>
			<td><?php echo $projectSchedule['progress']; ?></td>
			<td><?php echo $projectSchedule['user_id']; ?></td>
			<td class="actions">
				<?php echo $this->Html->link(__('View'), array('controller' => 'project_schedules', 'action' => 'view', $projectSchedule['id'])); ?>
				<?php echo $this->Html->link(__('Edit'), array('controller' => 'project_schedules', 'action' => 'edit', $projectSchedule['id'])); ?>
				<?php echo $this->Form->postLink(__('Delete'), array('controller' => 'project_schedules', 'action' => 'delete', $projectSchedule['id']), array(), __('Are you sure you want to delete # %s?', $projectSchedule['id'])); ?>
			</td>
		</tr>
	<?php endforeach; ?>
	</table>
<?php endif; ?>

	<div class="actions">
		<ul>
			<li><?php echo $this->Html->link(__('New Project Schedule'), array('controller' => 'project_schedules', 'action' => 'add')); ?> </li>
		</ul>
	</div>
</div>
<<<<<<< HEAD
<!-- END DATA -->
      </div>
    </div>
  </div> 
</div>

=======
>>>>>>> d239dc7a08b060d3c15e1171f0b3bdc2f6eb936c
