<?php echo $this->Html->link(__('Add Store Location'), array('action' => 'add'), array('class' => 'btn btn-success btn-sm')); ?>
<?php echo $this->Html->link(__('Store Locations'), array('action' => 'index'), array('class' => 'btn btn-info btn-sm')); ?> 


<div class="row"> 
  	<div class="col-xs-12"> 
    	<div class="x_panel tile">
      		<div class="x_title">
        		<h2>Store Setting</h2> 
        	<div class="clearfix"></div>
      	</div>
      	<div class="x_content"> 
        	<?php echo $this->Session->flash(); ?>

<div class="inventoryStores index">
	<h2><?php echo __('Inventory Stores'); ?></h2>
	<table cellpadding="0" cellspacing="0" class="table table-bordered">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('inventory_location_id'); ?></th>
			<th><?php echo $this->Paginator->sort('name'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($inventoryStores as $inventoryStore): ?>
	<tr>
		<td><?php echo h($inventoryStore['InventoryStore']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($inventoryStore['InventoryLocation']['name'], array('controller' => 'inventory_locations', 'action' => 'view', $inventoryStore['InventoryLocation']['id'])); ?>
		</td>
		<td><?php echo h($inventoryStore['InventoryStore']['name']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $inventoryStore['InventoryStore']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $inventoryStore['InventoryStore']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $inventoryStore['InventoryStore']['id']), array(), __('Are you sure you want to delete # %s?', $inventoryStore['InventoryStore']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Inventory Store'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Inventory Locations'), array('controller' => 'inventory_locations', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Inventory Location'), array('controller' => 'inventory_locations', 'action' => 'add')); ?> </li>
	</ul>
</div>


</div>
</div>
</div>
</div>