<div class="saleOrderChildren index">
	<h2><?php echo __('Sale Order Children'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('sale_job_id'); ?></th>
			<th><?php echo $this->Paginator->sort('name'); ?></th>
			<th><?php echo $this->Paginator->sort('description'); ?></th>
			<th><?php echo $this->Paginator->sort('status'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($saleOrderChildren as $saleOrderChild): ?>
	<tr>
		<td><?php echo h($saleOrderChild['SaleOrderChild']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($saleOrderChild['SaleJob']['id'], array('controller' => 'sale_jobs', 'action' => 'view', $saleOrderChild['SaleJob']['id'])); ?>
		</td>
		<td><?php echo h($saleOrderChild['SaleOrderChild']['name']); ?>&nbsp;</td>
		<td><?php echo h($saleOrderChild['SaleOrderChild']['description']); ?>&nbsp;</td>
		<td><?php echo h($saleOrderChild['SaleOrderChild']['status']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $saleOrderChild['SaleOrderChild']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $saleOrderChild['SaleOrderChild']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $saleOrderChild['SaleOrderChild']['id']), array(), __('Are you sure you want to delete # %s?', $saleOrderChild['SaleOrderChild']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Sale Order Child'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Sale Jobs'), array('controller' => 'sale_jobs', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Sale Job'), array('controller' => 'sale_jobs', 'action' => 'add')); ?> </li>
	</ul>
</div>
