<div class="saleQuotationItemCosts index">
	<h2><?php echo __('Sale Quotation Item Costs'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('name'); ?></th>
			<th><?php echo $this->Paginator->sort('quantity'); ?></th>
			<th><?php echo $this->Paginator->sort('general_unit_id'); ?></th>
			<th><?php echo $this->Paginator->sort('unit_price'); ?></th>
			<th><?php echo $this->Paginator->sort('discount'); ?></th>
			<th><?php echo $this->Paginator->sort('tax'); ?></th>
			<th><?php echo $this->Paginator->sort('total_price'); ?></th>
			<th><?php echo $this->Paginator->sort('sale_quotation_item_id'); ?></th>
			<th><?php echo $this->Paginator->sort('type'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($saleQuotationItemCosts as $saleQuotationItemCost): ?>
	<tr>
		<td><?php echo h($saleQuotationItemCost['SaleQuotationItemCost']['id']); ?>&nbsp;</td>
		<td><?php echo h($saleQuotationItemCost['SaleQuotationItemCost']['name']); ?>&nbsp;</td>
		<td><?php echo h($saleQuotationItemCost['SaleQuotationItemCost']['quantity']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($saleQuotationItemCost['GeneralUnit']['name'], array('controller' => 'general_units', 'action' => 'view', $saleQuotationItemCost['GeneralUnit']['id'])); ?>
		</td>
		<td><?php echo h($saleQuotationItemCost['SaleQuotationItemCost']['unit_price']); ?>&nbsp;</td>
		<td><?php echo h($saleQuotationItemCost['SaleQuotationItemCost']['discount']); ?>&nbsp;</td>
		<td><?php echo h($saleQuotationItemCost['SaleQuotationItemCost']['tax']); ?>&nbsp;</td>
		<td><?php echo h($saleQuotationItemCost['SaleQuotationItemCost']['total_price']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($saleQuotationItemCost['SaleQuotationItem']['name'], array('controller' => 'sale_quotation_items', 'action' => 'view', $saleQuotationItemCost['SaleQuotationItem']['id'])); ?>
		</td>
		<td><?php echo h($saleQuotationItemCost['SaleQuotationItemCost']['type']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $saleQuotationItemCost['SaleQuotationItemCost']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $saleQuotationItemCost['SaleQuotationItemCost']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $saleQuotationItemCost['SaleQuotationItemCost']['id']), array(), __('Are you sure you want to delete # %s?', $saleQuotationItemCost['SaleQuotationItemCost']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Sale Quotation Item Cost'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List General Units'), array('controller' => 'general_units', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New General Unit'), array('controller' => 'general_units', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Sale Quotation Items'), array('controller' => 'sale_quotation_items', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Sale Quotation Item'), array('controller' => 'sale_quotation_items', 'action' => 'add')); ?> </li>
	</ul>
</div>
