
<div class="book">
    <div class="page">
        <div id="header">
        <div class="x_title">
            &nbsp;
        </div>
        <div class="x_body">
           &nbsp;
        </div>
        <div>&nbsp;</div>
        </div>
        <div id="content">
        <?php echo $inventory_do[0]['inventory_delivery_order_items']['barcode']; ?>
          
            
        </div>
    </div>
</div>
