
<div class="book">
    <div class="page">
        <div id="header">
        <div class="x_title">
            &nbsp;
        </div>
        <div class="x_body">
           &nbsp;
        </div>
        <div>&nbsp;</div>
        </div>
        <div id="content">
        <?php echo $this->Html->image('Barcodes/'.$inventory_do['InventoryDeliveryOrderItem']['barcode'].'.png'); ?>
        
          
            
        </div>
    </div>
</div>
