<div class="projectScheduleAssigns index">
	<h2><?php echo __('Project Schedule Assigns'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('project_schedule_child_id'); ?></th>
			<th><?php echo $this->Paginator->sort('project_manpower_id'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($projectScheduleAssigns as $projectScheduleAssign): ?>
	<tr>
		<td><?php echo h($projectScheduleAssign['ProjectScheduleAssign']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($projectScheduleAssign['ProjectScheduleChild']['title'], array('controller' => 'project_schedule_children', 'action' => 'view', $projectScheduleAssign['ProjectScheduleChild']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($projectScheduleAssign['ProjectManpower']['id'], array('controller' => 'project_manpowers', 'action' => 'view', $projectScheduleAssign['ProjectManpower']['id'])); ?>
		</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $projectScheduleAssign['ProjectScheduleAssign']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $projectScheduleAssign['ProjectScheduleAssign']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $projectScheduleAssign['ProjectScheduleAssign']['id']), array(), __('Are you sure you want to delete # %s?', $projectScheduleAssign['ProjectScheduleAssign']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Project Schedule Assign'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Project Schedule Children'), array('controller' => 'project_schedule_children', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Project Schedule Child'), array('controller' => 'project_schedule_children', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Project Manpowers'), array('controller' => 'project_manpowers', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Project Manpower'), array('controller' => 'project_manpowers', 'action' => 'add')); ?> </li>
	</ul>
</div>
