<div class="projectManpowers index">
	<h2><?php echo __('Project Manpowers'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('user_id'); ?></th>
			<th><?php echo $this->Paginator->sort('price_per_hour'); ?></th>
			<th><?php echo $this->Paginator->sort('price_ot_per_hour'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($projectManpowers as $projectManpower): ?>
	<tr>
		<td><?php echo h($projectManpower['ProjectManpower']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($projectManpower['User']['id'], array('controller' => 'users', 'action' => 'view', $projectManpower['User']['id'])); ?>
		</td>
		<td><?php echo h($projectManpower['ProjectManpower']['price_per_hour']); ?>&nbsp;</td>
		<td><?php echo h($projectManpower['ProjectManpower']['price_ot_per_hour']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $projectManpower['ProjectManpower']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $projectManpower['ProjectManpower']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $projectManpower['ProjectManpower']['id']), array(), __('Are you sure you want to delete # %s?', $projectManpower['ProjectManpower']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Project Manpower'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Project Schedule Assigns'), array('controller' => 'project_schedule_assigns', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Project Schedule Assign'), array('controller' => 'project_schedule_assigns', 'action' => 'add')); ?> </li>
	</ul>
</div>
