<div class="row"> 
  	<div class="col-xs-12">
    	<div class="x_panel tile">
      		<div class="x_title">
        		<h2>Capital & Operating Budget (CAPEX/OPEX) Transfer Request</h2> 
        	<div class="clearfix"></div>
      	</div>
      	<div class="x_content"> 
        	<?php echo $this->Session->flash(); ?>
        	<!-- content start-->
        	<pre><?php print_r($_SESSION); ?></pre>
            <p>Department/Section</p>
        	
        	<!-- content end -->
      	</div>
    </div>
    </div>
</div>