<div class="bomChildren index">
	<h2><?php echo __('Bom Children'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('name'); ?></th>
			<th><?php echo $this->Paginator->sort('bom_id'); ?></th>
			<th><?php echo $this->Paginator->sort('parent_id'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($bomChildren as $bomChild): ?>
	<tr>
		<td><?php echo h($bomChild['BomChild']['id']); ?>&nbsp;</td>
		<td><?php echo h($bomChild['BomChild']['name']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($bomChild['Bom']['name'], array('controller' => 'boms', 'action' => 'view', $bomChild['Bom']['id'])); ?>
		</td>
		<td><?php echo h($bomChild['BomChild']['parent_id']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $bomChild['BomChild']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $bomChild['BomChild']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $bomChild['BomChild']['id']), array(), __('Are you sure you want to delete # %s?', $bomChild['BomChild']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Bom Child'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Boms'), array('controller' => 'boms', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Bom'), array('controller' => 'boms', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Bom Items'), array('controller' => 'bom_items', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Bom Item'), array('controller' => 'bom_items', 'action' => 'add')); ?> </li>
	</ul>
</div>
