<div class="row"> 
  	<div class="col-xs-12">
  		<?php echo $this->Html->link(__('List Inventory Items'), array('action' => 'index'), array('class' => 'btn btn-info btn-sm')); ?>
  		<?php echo $this->Html->link(__('List Inventory Item Categories'), array('controller' => 'inventory_item_categories', 'action' => 'index'), array('class' => 'btn btn-info btn-sm')); ?>
  		<?php echo $this->Html->link(__('List Inventory Supplier Items'), array('controller' => 'inventory_supplier_items', 'action' => 'index'), array('class' => 'btn btn-info btn-sm')); ?>
    	<div class="x_panel tile">
      		<div class="x_title">
        		<h2><?php echo __('Copy Item'); ?></h2> 
        	<div class="clearfix"></div>
      	</div>
      	<div class="x_content"> 
        	<?php echo $this->Session->flash(); ?>
        	<!-- content start-->
			<div class="inventoryItems form">
			<?php echo $this->Form->create('InventoryItem', array('class'=>'form-horizontal', 'enctype'=>'multipart/form-data')); ?>
				<fieldset>
					<div class="form-group">
						<label class="col-sm-3" style="padding-top: 8px">Code *</label>
						<div class="col-sm-9">
						<?php echo $this->Form->input("code", array("class"=> "form-control", "placeholder" => 'Code', "label"=> false)); ?>
						</div> 
					</div>
					<div class="form-group">
						<label class="col-sm-3" style="padding-top: 8px">Name *</label>
						<div class="col-sm-9">
						<?php echo $this->Form->input("name", array("class"=> "form-control", "placeholder" => 'Name', "label"=> false)); ?>
						</div> 
					</div>
					<div class="form-group">
						<label class="col-sm-3" style="padding-top: 8px">Quantity</label>
						<div class="col-sm-9">
						<?php echo $this->Form->input("quantity", array("class"=> "form-control", "placeholder" => 'Quantity', "label"=> false)); ?>
						</div> 
					</div>
					<div class="form-group">
						<label class="col-sm-3" style="padding-top: 8px">Unit Price *</label>
						<div class="col-sm-9">
						<?php echo $this->Form->input("unit_price", array("class"=> "form-control", "placeholder" => 'Unit Price', "label"=> false)); ?>
						</div> 
					</div>
					<div class="form-group">
						<label class="col-sm-3" style="padding-top: 8px">Inventory Item Category *</label>
						<div class="col-sm-9">
						<?php echo $this->Form->input("inventory_item_category_id", array("class"=> "form-control", "label"=> false)); ?>
						</div> 
					</div>
					<div class="form-group">
						<label class="col-sm-3" style="padding-top: 8px">Unit *</label>
						<div class="col-sm-9">
						<?php echo $this->Form->input("general_unit_id", array("class"=> "form-control", "label"=> false)); ?>
						</div> 
					</div>
					<div class="form-group">
						<label class="col-sm-3" style="padding-top: 8px">Item Type *</label>
						<div class="col-sm-9">
						<?php $types = array('Purchase' => 'Purchase', 'Manufactured' => 'Manufactured'); ?>
						<?php echo $this->Form->input("type", array('options' => $types, "class"=> "form-control", "label"=> false)); ?>
						</div> 
					</div>
					<div class="form-group">
						<label class="col-sm-3" style="padding-top: 8px">QC Inspect *</label>
						<div class="col-sm-9">
						<?php echo $this->Form->input("qc_inspect", array('options' => $Qc, "class"=> "form-control", "label"=> false)); ?>
						</div> 
					</div>
					<div class="form-group">
						<label class="col-sm-3" style="padding-top: 8px">Assembly Time (Days)</label>
						<div class="col-sm-9">
						<?php echo $this->Form->input("assembly_time", array("class"=> "form-control", "placeholder" => 'Default 0', "label"=> false)); ?>
						<?php echo $this->Form->input("quantity_shortage", array("type"=> "hidden", "value" => 0, "label"=> false)); ?>
						</div> 
					</div>
					<div class="form-group">
						<label class="col-sm-3" style="padding-top: 8px">Attachment (PDF / Image)</label>
						<div class="col-sm-9">
						<?php echo $this->Form->input("attachment", array("class"=> "form-control", "type"=>"file", "label"=> false, "required" => false)); ?>
						<?php echo $this->Form->input('attachment_dir', array('type' => 'hidden')); ?>
						</div> 
					</div>

					<div class="form-group">
						<label class="col-sm-3" style="padding-top: 8px">Warehouse</label>
						<div class="col-sm-9">
						<?php echo $this->Form->input("inventory_item_location_id", array("options" => $locations, "class"=> "form-control", "label"=> false)); ?>
						</div> 
					</div>

					<div class="form-group">
						<label class="col-sm-3" style="padding-top: 8px">Store</label>
						<div class="col-sm-9">
						<?php echo $this->Form->input("inventory_store_id", array("options" => $stores, "class"=> "form-control", "label"=> false)); ?>
						</div> 
					</div>
 

					<div class="form-group">
						<label class="col-sm-3" style="padding-top: 8px">Note</label>
						<div class="col-sm-9">
						<?php echo $this->Form->input("note", array("type" => "textarea", "class"=> "form-control", "label"=> false)); ?>
						</div> 
					</div>
				 	<div class="form-group">
						<label class="col-sm-3" style="padding-top: 8px">Search 1</label>
						<div class="col-sm-9">
						<?php echo $this->Form->input("search_1", array("class"=> "form-control", "placeholder" => 'Search key', "label"=> false)); ?>
						</div> 
					</div>
					<div class="form-group">
						<label class="col-sm-3" style="padding-top: 8px">Search 2</label>
						<div class="col-sm-9">
						<?php echo $this->Form->input("search_2", array("class"=> "form-control", "placeholder" => 'Search key', "label"=> false)); ?>
						</div> 
					</div>
					<div class="form-group">
						<label class="col-sm-3" style="padding-top: 8px">Search 3</label>
						<div class="col-sm-9">
						<?php echo $this->Form->input("search_3", array("class"=> "form-control", "placeholder" => 'Search key', "label"=> false)); ?>
						</div> 
					</div>
					<div class="form-group">
						<label class="col-sm-3" style="padding-top: 8px">Search 4</label>
						<div class="col-sm-9">
						<?php echo $this->Form->input("search_4", array("class"=> "form-control", "placeholder" => 'Search key', "label"=> false)); ?>
						</div> 
					</div>
					<div class="form-group">
						<label class="col-sm-3" style="padding-top: 8px">Search 5</label>
						<div class="col-sm-9">
						<?php echo $this->Form->input("search_5", array("class"=> "form-control", "placeholder" => 'Search key', "label"=> false)); ?>
						</div> 
					</div>

				</fieldset>
				<div class="clearfix">&nbsp;</div>
				<?php echo $this->Form->submit('Submit', array('div' => false, 'class' => 'btn btn-success btn-sm')); ?>
			</div>
        	<!-- content end -->
      	</div>
    </div>
    </div>
</div>