<?php //echo $this->Html->link('Activity Logs', array('action' => 'index'), array('class' => 'btn btn-primary')); ?>   

<div class="row"> 
    <div class="col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Transaction Report</h2> 
                <div class="clearfix">&nbsp;</div>
            </div>
            <div class="x_content">
                S
            </div>
        </div>
    </div>
    </div>
</div>
